@import url("styles/header.css");

@import url("styles/banner.css");

:root {
    --cor-do-fundo: #FFFFFF;
    --cor-do-fundo-secundaria: #C4C4C4;
    --cor-terciaria: linear-gradient(160deg, #002F52 0%, #326589 100%); 
    --cor-laranja: #EB9B00;
    --fonte-principal: 'Poppins';
}

body {
    background-color: var(--cor-do-fundo-secundaria);
    font-family: var(--fonte-principal);
    font-size: 16 px;
    font-weight: 400;
}

