.contato {
    background-color: var(--cor-do-fundo);
    padding: 1em;
    
}

.contato__titulo {
    font-family: var(--fonte-principal);
    font-size:18px;
    font-weight: 500;
    background: var(--cor-terciaria) ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding:0em  0,5em ;
    
}
.contato__texto {
    font-family: var(--fonte-principal);
    font-size:16px;
    font-weight: 300;
    background: var(--cor-terciaria) ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1em 0em 1em;
}

.contato__pesquisa {
    font-family: var(--fonte-principal);
    background-color: transparent;
    border: 1px solid var(--cor-azul);
    color: var(--cor-azul);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.contato__pesquisa::placeholder {
    background-image: url(../img/Email.svg);
    background-repeat: no-repeat;
    text-align: center;
    background-position: 0.5em;
    color: var(--cor-azul);
    font-family: var(--fonte-principal);
    font-size:16px;
    font-weight: 400;
    padding: 0em 3em 0em 0em; 
}


@media screen and (min-width: 750px){
    .contato__titulo {
        font-family: var(--fonte-principal);
        font-size:24px;
        font-weight: 500;
        background: var(--cor-terciaria) ;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding:0em  0,5em ;
       
        
    }

    .contato {
        background-color: var(--cor-do-fundo);
        padding: 2em;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .contato__pesquisa {
        font-family: var(--fonte-principal);
        background-color: transparent;
        border: 1px solid var(--cor-azul);
        color: var(--cor-azul);
        border-radius: 24px;
        padding: 0.5em;
        width: 40%;
        margin: 0 0.5em 0 4em ;
        
    }

    .contato__pesquisa::placeholder {
        background-image: url(../img/Email.svg);
        background-repeat: no-repeat;
        text-align: center;
        background-position: 0.5em;
        color: var(--cor-azul);
        font-family: var(--fonte-principal);
        font-size:16px;
        font-weight: 400;
        padding: 0em 0em 0em 2em; 
    }


    .contato__descrição {
        width: 40%;
    }
}

@media screen and (min-width: 1200px) {
    .contato{
        padding: 3em 20vw;
    }
}