.topicos {
    background: var(--cor-terciaria);
    text-align: center;
    
}

.topicos__titulo {
    color:var(--cor-do-fundo);
    font-weight: 300;
    font-size: 16px;
    font-family: var(--fonte-principal);
    padding: 1em;
    
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__itens {
   
    margin: 2em 0.5em ;

}

.topicos__link{
    text-decoration: none;
    color: var(--cor-do-fundo);
    font-family: var(--fonte-principal);
    background-color: var(--cor-laranja);
    font-size: 14px;
    font-weight: 700;
    padding: 1em;
}


@media screen and (min-width: 750px) {
    

    .topicos__itens {
   
        margin: 2.5em 0.5em ;
    
    }
    .topicos__titulo {
        color:var(--cor-do-fundo);
        font-weight: 300;
        font-size: 24px;
        font-family: var(--fonte-principal);
        padding: 1em;
    
}

    .topicos__link{
        text-decoration: none;
        color: var(--cor-do-fundo);
        font-family: var(--fonte-principal);
        background-color: var(--cor-laranja);
        font-size: 24px;
        font-weight: 700;
        padding: 0.9em;
}
}


@media screen and (min-width: 1200px){
    .topicos {
   
        padding: 1em 20vw;
    
    }

    
}